<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Users\Jonathan\Desktop\Cellenza\StaffingService\StaffingWebService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StaffingModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y2zkyqdhi1.database.windows.net,1433;Initial Catalog=STAFFING;Integrated Security=False;User ID=Cellenza@y2zkyqdhi1;Password=P@ssw0rd;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PEGASE\PEGASESQL;Initial Catalog=STAFFING;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StaffingModelContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=~/bin/Data\StaffingModel.csdl|~/bin/Data\StaffingModel.ssdl|~/bin/Data\StaffingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PEGASE\PEGASESQL;initial catalog=STAFFING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StaffingModelContainer-Web.config Connection String">
      <ParameterValue>metadata=~/bin/Data\StaffingModel.csdl|~/bin/Data\StaffingModel.ssdl|~/bin/Data\StaffingModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:y2zkyqdhi1.database.windows.net,1433;initial catalog=STAFFING;integrated security=False;user id=Cellenza@y2zkyqdhi1;password=P@ssw0rd;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>