<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://staffingserviceprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>staffingserviceprod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$staffingserviceprod</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StaffingModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=y2zkyqdhi1.database.windows.net;Initial Catalog=STAFFING_PROD;Integrated Security=False;User ID=Cellenza@y2zkyqdhi1;Password=P@ssw0rd;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Cellenza.Service.Data.StaffingModelContainer, Cellenza.Service" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StaffingModelContainer-Web.config Connection String">
      <ParameterValue>metadata=~/bin/Data\StaffingModel.csdl|~/bin/Data\StaffingModel.ssdl|~/bin/Data\StaffingModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=y2zkyqdhi1.database.windows.net;Initial Catalog=STAFFING_PROD;Integrated Security=False;User ID=Cellenza@y2zkyqdhi1;Password=P@ssw0rd;Connect Timeout=30;Encrypt=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>