@{
    ViewBag.Title = "Home Page";
}

<div>
    <br /><br />
    <div class="container">
        <input id="btnAddCra" type="button" class="btn btn-turquoise" value="Saisir CRA" />
        <br /><br />
       
        <div class="includeCalendar">
            <div id="calendar"></div>
        </div>

        <!-- Responsive calendar - END -->
    </div>

</div>

<div id="modalCra" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCraLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="popupTitle">Crallenza</label>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Activité :</td>
                        <td><input id="activity" type="text" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <td>Date Début :</td>
                        <td><input id="dateBegin" type="text" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <td>Date Fin :</td>
                        <td><input id="dateEnd" type="text" class="form-control" /> </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal">Annuler</button>
                <button id="submitCra" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="modalCraDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCraLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="popupTitle">Détails CRA</label>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Activité :</td>
                        <td><span id="activityDetail"></span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/vendors/FullCalendar/fullcalendar.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var $calendar = $('#calendar');
            var activeDay = $calendar.find('.fc-today').attr('data-date');

            var localeCalendar = {
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour'
                },
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',
                    'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin',
                    'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                firstDay: 1,
                timeFormat: 'HH:mm{ - HH:mm}',
                columnFormat: {
                    month: 'ddd',
                    week: 'ddd d/MM',
                    day: 'dddd d/MM'
                },
                titleFormat: {
                    month: 'MMMM yyyy',
                    week: "d [ MMM] [ yyyy]{ '&#8212;' d MMM yyyy}",
                    day: 'dd MMMM yyyy'
                },
                axisFormat: 'HH:mm',
                allDayText: 'Journée'
            };

            InitCalendar();


            $("body").on("click", "#btnAddCra", function () {
                $('#modalCra').modal('show');
            });



            $('#dateBegin').datepicker();
            $('#dateEnd').datepicker();

            // click sur le ok validation CRA
            $("body").on("click", "#submitCra", function () {
                var dateBegin = $('#dateBegin').val();
                var dateEnd = $('#dateEnd').val();
                var activity = $('#activity').val();

                var dateb = dateBegin.substring(6, 10) + '-' + dateBegin.substring(0, 2) + '-' + dateBegin.substring(3, 5);


                var datef = dateBegin.substring(6, 10) + '-' + dateBegin.substring(0, 2) + '-' + dateBegin.substring(3, 5);


                dateb = new Date(dateBegin.substring(6, 10), eval(dateBegin.substring(0, 2)) - 1, dateBegin.substring(3, 5));
                datef = new Date(dateEnd.substring(6, 10), eval(dateEnd.substring(0, 2)) - 1, dateEnd.substring(3, 5));

                console.log(dateb);
                // ajout de l'event sur le calendar
                $calendar.fullCalendar('renderEvent',
                 {
                     id: 1,
                     title: activity,
                     start: dateb,
                     end: datef,
                     allDay: true
                 },
                 true // make the event "stick"
             );

                // $('#calendar').fullCalendar('updateEvent');

                $('#modalCra').modal('hide');
            });



            function InitCalendar() {
                // Init calendar

                var calendar = $calendar.fullCalendar(
                    $.extend({
                        eventClick: function (event, element) {
                            $('#modalCraDetail').modal('show');
                            $('#activityDetail').text(event.title);
                        },
                        header: {
                            left: 'prev,next',
                            center: 'title',
                            right: 'month,basicWeek'
                        },
                        buttonText: {
                            today: 'Aujourd\'hui',
                            month: 'Mois',
                            week: 'Semaine',
                            day: 'Jour'
                        },
                        theme: true,
                        weekMode: 'liquid',
                        allDaySlot: false,
                        lazyFetching: true,
                        dayClick: function (date, allDay, jsEvent, view) {
                            $calendar.find('.fc-active').removeClass('fc-active');
                            $(this).addClass('fc-active');
                            activeDay = $.fullCalendar.formatDate(date, 'yyyy-MM-dd');

                            // Affichage des tasks

                            appendRdvEvent(activeDay);

                        },
                        viewRender: function (view, element) {
                            var start = view.start.getTime() / 1000;
                            var end = view.end.getTime() / 1000;
                            // today
                            $('.fc-day[data-date="' + activeDay + '"]').addClass('fc-active');
                            //$rdvLinesContainer.append('Aucun rendez-vous aujourd\'hui.');
                        }
                    }, localeCalendar)
                );

                //$calendar.find('.fc-today').trigger('click');

                //$calendar.find('.fc-header').remove();

            }

          
            var konami_keys = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
            var konami_index = 0;
            $(document).keydown(function(e){
                if(e.keyCode === konami_keys[konami_index++]){
                    if(konami_index === konami_keys.length){
                        $(document).unbind('keydown', arguments.callee);
                        $.getScript('http://www.cornify.com/js/cornify.js',function(){
                            cornify_add();
                            $(document).keydown(cornify_add);
                        }); 
                    }
                }else{
                    konami_index = 0;
                }
            });
        });
    </script>
}